table {
  width: 100%;
  border-collapse: collapse;
}

.search-item {
  font-family: "Courier New", Courier, monospace;
}

thead th {
  text-align: left;
  border-bottom: 1px solid black;
}

thead button {
  border: 0;
  border-radius: none;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 1px;
}

table tbody tr:hover {
  background-color: #ebeccd;
}

.design {
  background-color: white;
  height: 100%;
}

#screen {
  background-color: #f1f1f1;
}

.mnemonics {
  background-color: #f1f1f1;
}
