table {
  width: 100%;
  border-collapse: collapse;
}

.search-item {
  font-family: "Courier New", Courier, monospace;
}

thead th {
  text-align: left;
  border-bottom: 2px solid black;
}

#screen {
  border: 2px solid white;
}

thead button {
  border: 0;
  border-radius: none;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 1px;
}

table tbody tr:hover {
  background-color: #ebeccd;
}

.design {
  background-color: #f1f1f1;
  height: 100%;
}

.canvas-wrapper {
  position: relative;
}
/*
th,
td {
  padding: 10px;
  border-bottom: 1px solid #666;
}
*/

table {
  text-align: left;
  border-collapse: collapse;
}
