table {
  width: 100%;
  border-collapse: collapse;
}

.search-item {
  font-family: "Courier New", Courier, monospace;
}

thead th {
  text-align: left;
  border-bottom: 2px solid black;
}

thead button {
  border: 0;
  border-radius: none;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 1px;
}

table tbody tr:hover {
  background-color: #ebeccd;
}

#canvas-wrapper {
  position: relative;
  top: 30%;
  left: 30%;
}

/* th, td {
	padding: 10px;
	border-bottom: 1px solid #666;
}

table {
	text-align: left;
	border-collapse: collapse;
}
*/
